

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-extrabold-webfont.woff') format('woff'),
        url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'glyphicon';
    src: url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../fonts/glyphicons-halflings-regular.woff2') format('woff2');
}


body{
    overflow-x: hidden;
}

i {
    font-size: 5rem;
}
/* ------------------------------------------------------------------------------------------------ */
/* Header */

.navbar {
    position:fixed;
    /* ou doit se positionner l'lement ? (l'element ne prend par défaut que la place dont il a besoin) */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar-dark{
    background: #212d39c5;
}

nav.hidden  {
    display: none;
}
#mainMenu {
    justify-content: right;
    align-items: end;    
}

.block {
    padding: 5rem 0;
}






/* -------------------------------------------------------------------------------------------------- */
/* Accueil */

#acceuil {
    box-sizing: content-box;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    }

#acceuil h1 {
    color:white;
    font-size: 70px;
    text-align: center;
}

@keyframes hautbas {
    0% {
      bottom: 0;
    }
    40% {
      bottom: 20px;
    }
    80% {
        bottom: 0;
    }
  }
  

#acceuil i {
    color:white;
	position: absolute;
	bottom: 0;
    font-size: 80px;
        animation-name: hautbas;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

#acceuil #background-video {
    
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    
  }
/* .video {
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background-video {
} */

/* -------------------------------------------------------------------------------------------------- */
/* Recettes */

#recettes {
    margin: 19rem 0rem 7rem 0;
    text-align: center;
}


#boutons, .encarts, #choix {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding:25px, 100px;
}

.bouton {
    background-color: rgb(208, 210, 195);
    border-radius: 2rem;
    border : none;
    color: black;
    text-transform: uppercase;
    padding: 0.5rem;
}

.bouton:hover {
    background-color: rgb(182, 182, 182) ;
    color: black;
}

.boutonInfo {
    background-color: rgba(105, 105, 105, 0.377);
    border-radius: 2rem;
    border : none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 0.5rem;
    
}

.boutonSelect {
    float: right;
    background-color: transparent;
    border-radius: 2rem;
    border : none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 0.5rem;
    

}

.Disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.encartRecette {

    text-align:left;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 0.5rem;
    color:white;
    font-family: 'gilroy';
    font-style: normal;
}

.encartRecette hr  {
    height: 0px;
    border: none;
    border-top: 3px solid white;
}



    #nomBoissonOriginal {
        background-color:rgb(226, 6, 20);
    }

    #nomBoissonMojito {
        background-color: rgb(160, 197, 37);
    }

    #nomBoissonTropical {
        background-color: rgb(201, 76, 5);
    }


.encartRecetteBoutons .row {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    vertical-align: middle;
}

#choix {
    background-color: rgb(208, 210, 195);
    font-size: large;
    padding-bottom: 50px;
}

h2{
    font-family: 'gilroy';
    text-transform: uppercase;
    margin-bottom: 9rem;
    letter-spacing: 1rem;
}
.preference-p{
    font-family: 'gilroy';
    text-transform: uppercase;
}

h3 {
    font-family: 'gilroy';
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#contact {
    background-color: #464646;
}

